# File binari: mai conversione EOL (un PDF/immagine convertito CRLF si corrompe)
*.pdf  binary
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.woff binary
*.woff2 binary
*.ttf  binary
*.xlsm binary
*.apk  binary
*.exe  binary
*.hex  binary
